$outline: rgb(228, 223, 223);
$brownishGray: rgb(52,58,64);
$mainBlue: #2248E2;
$white: white;
$black: black;
$yellowish: #FFC107;
$cyanish: #17A2B8;
$transparentBlack: rgba(0, 0, 0, 0.3);
$blackish: rgb(0, 2, 17);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  a{
    color: $black;
    text-decoration: none;
  }
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 2.5rem;
    line-height: 1.6;
  }
  p{
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 200;
  }
  next-route-announcer{
    display: none;
    height: 0;
  }

  .mobileDownloadBtns{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;

    .googlePlay{
      cursor: pointer;
      width: 150px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/badge.play-store.svg");
    }
    .appStore{
      cursor: pointer;
      width: 150px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/badge.app-store.svg");
    }
  }
  
  .logo{
    width: 50px !important;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/logo1.svg");
  }
}
main{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 
    550px auto 470px auto auto;

  & > *{
    padding: 1.5rem;
  }
}
.SectionOne{
  background-position: 100% 100%;
  background-image: url("../assets/bg-leaves.svg");
  display: grid;
  grid-template-rows: 70px 1fr 80px;
  padding: 0;

  h1, h3{
    font-weight: normal;
  }
  nav{
    display: flex;
    align-items: center;
    gap: 1.7rem;
    padding-inline: 1.5rem;
    justify-content: flex-start;
  }
  .homeTexts{
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding-inline: 1.5rem;
    padding-bottom: 1.5rem;

    button{
      padding: .7rem 1rem;
      color: $white;
      background: $mainBlue;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 1.1rem;
      border-radius: .3rem;
      width: 130px;
      height: 45px;
      margin-inline: auto;
    }
    p, h1{
      text-align: center;
      width: 100%;
      color: $blackish;
    }
  }

  div:last-of-type{
    border-top: 1px solid $outline;
    border-bottom: 1px solid $outline;

    div:last-of-type{
      width: 170px;
    }
  }
}
.SectionTwo{
  h2, p{
    text-align: center;
  }
  p:first-of-type{
    margin-inline: auto;
    width: min(100%, 700px);
  }

  .left{
    h3,p{
      text-align: left;
    }
  }
  .right{
    h3,p{
      text-align: right;
    }
  }
  .LongCard{
    margin-inline: auto;
    width: min(700px, 100%);
    display: flex;
    gap: 3rem;
    margin-top: 6rem;
    flex-wrap: wrap;

    .cardTexts{
      flex: 1;
      h3{
        font-size: 2rem;
      }
      p{
        font-weight: 200;
      }
      
    }

    .cardImg{
      flex: 1;
      min-height: 260px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      min-width: 200px;
    }
  }
}
@media only screen and (max-width: 470px) {
  .LongCard{
    .cardTexts{
      h3,p{
        text-align: center !important;
      }
    }
  }
}
.SectionThree{
  background: $mainBlue;
  display: grid;
  place-items: center;

  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-image: url("../assets/bg-decals2.svg");

  div{
    h2, p{
      color: $white;
      text-align: center;
    }
    p{
      padding-bottom: 4rem;
    }
  }
}
.SectionFour{
  padding-bottom: 15rem;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-image: 
    url("../assets/bg-decals3.svg");

  h2,p:first-of-type{
    margin-inline: auto;
    text-align: center;
  }

  div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    justify-content: center;

    .yellowish{
      background: $yellowish;
    }
    .cyanish{
      background: $cyanish;
    }

    .ActionCard{
      border-radius: .8rem;
      padding: 1.5rem;
      flex: 1;
      box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
      gap: 1.5rem;

      div:first-of-type{
        display: grid;
        grid-auto-flow: row;

        .actionCardImg{
          background-repeat: no-repeat;
          background-size: contain;
          min-width: 150px;
          min-height: 150px;
        }

        p{
          vertical-align: middle;
          height: 30px;
          background: $transparentBlack;
          color: $white;
          font-size: 1rem;
          font-weight: bold;
          border-radius: .9rem;
          padding-inline: .6rem;
        }
      }

      div:last-of-type{
        display: grid;
        grid-auto-flow: row;
        align-content: flex-start;

        h3, p, h6{
          color: $white;
          text-align: center;
        }
        h6{
          font-size: 1rem;
          font-weight: normal;
        }
        h3{
          margin-top: -.7rem;
          font-size: 2rem;
        }
        p{
          font-size: 1rem;
        }
      }
    }
  }
}
.Footer{
  background: $brownishGray;

  .footerWrap{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    .logo{
      min-width: 50px;
    }
  }
  h3,p{
    line-height: 1.5;
    color: $white;
  }
  h3:last-of-type{
    font-weight: normal;
  }
  p{
    line-height: 2;
    font-size: .8rem;
    width: min(100%, 600px);
  }
}
@media only screen and (min-width: 700px) {
  main > *{
    padding: 6rem;
  }
  .SectionOne{
    nav, div:first-of-type{
      padding-inline: 6rem;
    }

    .homeTexts{
      justify-content: flex-start;
      p{
        width: 50%;
        color: $black;
      }
      h1{
        color: $black;
      }
      h1, button, p{
        text-align: left;
      }
      button{
        margin: 0;
      }
    }
  }
  .SectionFour{

    .ActionCard{
      min-width: 500px;
      max-width: 700px;
      display: grid;
      grid-template-columns: auto 1fr;

      div:last-of-type{
        h6,h3,p{
          text-align: left !important;
        }
      }
    }    
  }
  .Footer{
    padding: 2rem;
    padding-inline: 6rem;
  }
}